.hire-us {
  &__header {
    background: url($assets-path + '/hire-us/header-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4rem;
    background-size: cover;
    background-color: #e3d9d8;
    height: 600px;
    &__title {
      font-family: $font-ANB;
      font-size: 56px;
      text-align: center;
      width: 100%;
    }
  }

  &__content {
    padding: 100px 0;
    &__title {
      width: 100%;
      font-family: $font-ANB;
      font-size: 40px;
      text-align: center;
      color: $color-default;
    }

    &__description {
      width: 100%;
      font-family: $font-ANR;
      font-size: 27px;
      text-align: center;
      color: $color-default;
      margin: 0 auto;
      max-width: 950px;
    }
    .form{
      margin-top: 70px;
    }

    &__form {
      padding: 60px 95px;
      border-radius: 3px;
      border: solid 1px $color-border;
      max-width: 750px;
      margin: 0 auto;

      .form-group{
        margin-bottom: 15px;
      }
      &__label {
        font-family: $font-ANR;
        font-size: 16px;
        font-weight: 500;
        color: $color-search-input;
      }

      &__input {
        width: 100%;
        border-radius: 3px;
        background-color: $background-white;
        border: solid 1px $color-border;
        font-family: $font-ANR;
        font-size: 18px;
        padding: 7px;
        color: $color-coming-soon;

        &::placeholder {
          color: #bdbaba;
          font-size: 1.8rem;
        }
      }

      &__textarea {
        height: 210px;
        border-radius: 3px;
        background-color: $background-white;
        border: solid 1px $color-border;
        font-family: $font-ANR;
        font-size: 18px;
        padding: 7px;

        &::placeholder {
          font-family: $font-ANR;
          font-size: 18px;
          color: $color-coming-soon;
        }
      }

      &__select {
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 1px #eaeaea;
        height: 39px!important;
        padding: 7px;
        font-size: 18px;
        color: $color-coming-soon;
        font-family: $font-ANR;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url($assets-path + '/hire-us/arrow-down.png');
        background-repeat: no-repeat;
        background-position-x: 96%;
        background-position-y: 15px;

        option {
          font-size: 18px;
          color: $color-coming-soon;
        }
      }

      &__button {
        button {
          border-radius: 5px;
          background-color: $background-black;
          width: 100%;
          font-family: $font-ANB;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 2.1px;
          text-align: center;
          color: $background-white;
          padding: 14px 0;
          margin-top: 30px;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    &__header {
      background: url($assets-path + '/hire-us/header-background-responsive.jpg');
      height: 420px;
      background-position: center;
      width: 100%;
      background-size: cover;
      &__title {
        font-size: 40px;
        line-height: 1.13;
        font-family: $font-ANB;
      }
    }
    &__content {
      padding: 0;
      &__title {
        margin-top: 70px;
        font-size: 30px;
        font-weight: 600;
        line-height: 1.17;
        font-family: $font-ANR;
      }
      &__description {
        font-size: 20px;
        line-height: 1.25;
        font-family: $font-ANR;
        max-width: 290px;
        margin: 0 auto;
      }
      .form{
        margin-bottom: 70px;
      }
      &__form {
        margin: 0 15px;
        padding: 0;
        border: none;
        &__label {
          font-size: 14px;
        }
        &__input, &__textarea, &__select {
          font-size: 16px;
        }
        &__textarea {
         height: 100px;
        }
      }
    }
  }
}
