.hire-us {
  &__header {
    background: url($assets-path + '/hire-us/header-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4rem;
    background-size: cover;
    background-color: #e3d9d8;
    height: 600px;

    @include breakpoint(mobile) {
      background-size: 180%;
      background-position: -142px 218px;
      height: 500px;
    }

    &__title {
      font-family: $font-ANB;
      font-size: 56px;
      text-align: center;
      width: 100%;

      @include breakpoint(mobile) {
        font-size: 4rem;
        margin-top: 5.8rem;
      }
    }
  }

  &__content {
    padding: 100px 0;
    &__title {
      width: 100%;
      font-family: $font-ANB;
      font-size: 40px;
      text-align: center;
      color: $color-default;

      @include breakpoint(mobile) {
        font-size: 3rem;
        font-family: $font-AND;
        margin-top: 7rem;
      }
    }

    &__description {
      width: 100%;
      font-family: $font-ANR;
      font-size: 27px;
      text-align: center;
      color: $color-default;
      margin: 0 auto;
      max-width: 950px;

      @include breakpoint(mobile) {
        font-size: 2rem;
        margin-bottom: 7rem;
      }
    }
    .form{
      margin-top: 70px;
    }

    &__form {
      padding: 60px 95px;
      border-radius: 3px;
      border: solid 1px $color-border;
      max-width: 750px;
      margin: 0 auto;

      @include breakpoint(mobile) {
        margin: 0;
        padding: 0;
        border: none;
      }

      .form-group{
        margin-bottom: 15px;
      }
      &__label {
        font-family: $font-ANR;
        font-size: 16px;
        font-weight: 500;
        color: $color-search-input;
      }

      &__input {
        width: 100%;
        border-radius: 3px;
        background-color: $background-white;
        border: solid 1px $color-border;
        font-family: $font-ANR;
        font-size: 18px;
        padding: 7px;
        color: $color-coming-soon;

        &::placeholder {
          color: #bdbaba;
          font-size: 1.8rem;
        }
      }

      &__textarea {
        height: 210px;
        border-radius: 3px;
        background-color: $background-white;
        border: solid 1px $color-border;
        font-family: $font-ANR;
        font-size: 18px;
        padding: 7px;

        &::placeholder {
          font-family: $font-ANR;
          font-size: 18px;
          color: $color-coming-soon;
        }
      }

      &__select {
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 1px #eaeaea;
        height: 39px!important;
        padding: 7px;
        font-size: 18px;
        color: $color-coming-soon;
        font-family: $font-ANR;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url($assets-path + '/hire-us/arrow-down.png');
        background-repeat: no-repeat;
        background-position-x: 96%;
        background-position-y: 15px;

        option {
          font-size: 18px;
          color: $color-coming-soon;
        }
      }

      &__button {
        button {
          border-radius: 5px;
          background-color: $background-black;
          width: 100%;
          font-family: $font-ANB;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 2.1px;
          text-align: center;
          color: $background-white;
          padding: 14px 0;
          margin-top: 30px;
        }
      }
    }
  }
}
