.about-us__item {
  &__person {

  }

  &__info {
    &__title {
      font-family: $font-ANB;
      font-size: 56px;
      font-weight: bold;
      color: #343333;
    }

    &__subTitle {
      font-family: $font-ANB;
      font-size: 27px;
      font-weight: bold;
      font-style: italic;
      color: #343333;
      span {
        font-style: normal;
        color: #afacac;
        padding-right: 1rem;
      }
    }

    &__social {
      &__twitter {

      }

      &__instagram {

      }
    }

    &__content {
      font-family: $font-ANR;
      font-size: 18px;
      letter-spacing: 0.3px;
      color: #343333;
    }
  }

  &__bottom {
    &__prev {

    }

    &__next {

    }
  }
}