@font-face {
  font-family: 'AvenirNextRegular';
  src: url($assets-path + '/fonts/avenir/AvenirNextLTPro-Regular.otf'); }
@font-face {
  font-family: 'AvenirNextMediumCn';
  src: url($assets-path + '/fonts/avenir/AvenirNextLTPro-MediumCn.otf'); }
@font-face {
  font-family: 'AvenirNextDemiCn';
  src: url($assets-path + '/fonts/avenir/AvenirNextLTPro-DemiCn.otf'); }
@font-face {
  font-family: 'AvenirNextHeavyCn';
  src: url($assets-path + '/fonts/avenir/AvenirNextLTPro-HeavyCn.otf'); }
@font-face {
  font-family: 'AvenirNextBold';
  src: url($assets-path + '/fonts/avenir/AvenirNextLTPro-Bold.otf'); }
@font-face {
  font-family: 'AvenirNextBoldCn';
  src: url($assets-path + '/fonts/avenir/AvenirNextLTPro-BoldCn.otf'); }
@font-face {
  font-family: 'AvenirNextCn';
  src: url($assets-path + '/fonts/avenir/AvenirNextLTPro-Cn.otf'); }
@font-face {
  font-family: 'VoyagerMedium';
  src: url($assets-path + '/fonts/avenir/VOYAGER_MEDIUM.otf'); }
