@import 'variable';
@import 'helpers';
@import 'libs';
@import 'breakpoints';
@import '../components/components';
@import 'custom';

html {
  font-size: 10px;
}

body {
  font-family: $font-ANR;
  margin: 0;
  font-size: 1.4rem;
}

.app-container {
  min-height: calc(100vh - 40rem);
}

#mobileCavalry{
  position: relative;
  overflow: hidden;
  padding-top: 6rem;

  @include media-breakpoint-down(md) {
    padding-top: 5rem;
  }
}
