@mixin tools-item($file, $size, $postion) {
    width: 33.3%;
    border-right: 1px solid #e9ebee;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    font-size: 1rem;
    padding: 5px;

    &:last-child {
      border-right: none;
    }

    &::before {
      content: '';
      background: url($file);
      width: 15%;
      background-size: $size;
      background-position: $postion;
      background-repeat: no-repeat;
      margin: 0 3px;
    }
}

.result-facebook {
  background: #fff;
  background-color: #f3f3f3;
  width: 100%;
  height: 100%;
  position: relative;
  &__header {
    background-color: #3b5998;
    padding: 5px;
    &-search {
      position: relative;
      input {
        background-color: #293e6a;
        padding-left: 2rem !important;
        border-radius: 3px;
        background-color: #293e6a;
        padding: 5px;
        border: none;
        color: #bfc5d2;
        font-size: 10px;
        letter-spacing: 0.1px;
        &::placeholder {
          color: #bfc5d2;
        }
      }
      .icon {
        left: 0.5rem;
        height: 1rem;
        bottom: 0.8rem;
        position: absolute;
      }
      .profile-menu {
        padding-left: 0.5rem !important;
      }
    }
  }

  &__create-post {
    background: #fff;
    margin: 5px 0;
    &__status {
      display: flex;
      flex-direction: row;
      padding: 0.85rem;
      border-bottom: solid 0.5px #e9ebee;
      &__avatar {
        background: url($assets-path + '/facebook/profpic1.svg');
        width: 15%;
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        padding: 5px;
        display: flex;
        justify-content: flex-start;
      }

      &__form {
        width: 80%;
        display: flex;
        &__input {
          border: none;
          padding: 5px 0;
          display: flex;
          align-content: center;
          justify-content: center;
          font-size: 11px;
          letter-spacing: 0.2px;
          text-align: left;
          color: #ebebeb;

          &::placeholder {
            color: #9197a3;
          }
        }
      }
    }

    &__tools {
      display: flex;
      flex-direction: row;
      width: 100%;
      color: #4b4f56;
      &__live {
        @include tools-item($assets-path + '/facebook/live.svg', 100%, center 1px)
      }

      &__photo {
        @include tools-item($assets-path + '/facebook/photo.svg', 100%, center 1px)
      }

      &__check-in {
        @include tools-item($assets-path + '/facebook/location.svg', 95%, center -1px)
      }
    }
  }

  &__tabs {
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    background: #fff;
    position: absolute;
    padding: 0.5rem 0rem;
    width: 100%;
    border-top: solid 1px $color-border-search;
    img {
      height: 15px;
    }
  }
}
