.header {
  font-family: $font-ANM;
  font-weight: 500;
  letter-spacing: 1px;
  color: $color-default;
  border-bottom: 1px solid $color-border;
  background-color: $background-white;
  text-transform: uppercase;
  &__menu {
    background-color: $background-white;
    .look-out {
      font-family: $font-VYGM;
      border-left: 1px solid $color-border;
      padding-left: 1rem;
      color: $color-lookout;
      font-weight: 500;
      letter-spacing: 0.1px;
      font-size: 18px;
      text-transform: capitalize;
      padding-top: 0.8rem;
    }
    .logo {
      padding-right: 1rem;
    }
    .contact-us {
      padding-right: 0rem;
    }
    li {
      font-weight: bolder;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .el-submenu__title, .el-menu-item {
      font-weight: 500 !important;
      color: $color-default;
      &:hover {
        background-color: transparent !important;
      }
    }
  }
}

// MC page
.header.mc-page, .header.intel, .header.hire-us {
  border-bottom: none;
  background-color: $background-mc;
  .header__menu {
    background-color: $background-mc;
    .look-out {
      opacity: 0;
    }
  }
}
// Intel page
.header.intel {
  .header__menu {
    .look-out {
      opacity: 1;
      border-left-color: $color-coming-soon;
    }
  }
}
// Look out
.header.lookout {
  border-bottom: none;
  background-color: $background-white;
  .header__menu {
    background-color: $background-white;
    .look-out {
      opacity: 1;
    }
  }
}

// Term
.header.term {
  border-bottom: 1px solid $color-border;
  background-color: $background-white;
  .header__menu {
    background-color: $background-white;
    .look-out {
      opacity: 0;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    &__menu {
      .look-out {
        font-size: 14px;
        padding-top: 0.3rem;
      }
    }
  }
}
