@import "../app.scss";

.navbar-collapse {
  padding-top: 0.5rem;
  .nav-item {
    text-transform: uppercase;
    .nav-link {
      color: $color-default;
    }
  }
}
.look-out {
  border-left: 1px solid $color-border;
}

.app-header {
  border-bottom: 1px solid $color-border;
}
