$background-black: #252936;
$background-white: #ffffff;
$color-default: #343333;
$color-search-input: #1f1e1e;
$color-learn-more: #a2a2a2;
$color-border: #eeeaea;
$color-border-search: #ebebeb;
$color-lookout: #767271;
$color-footer-list: #6d758c;
$color-white: #ffffff;
$color-border-copy-right: #393e4e;
