.intel {
  &__container-header {
    padding: 6rem 0;
    background-color: $background-mc;
    .content{
      margin: 0 auto;
      max-width: 1000px;
      .title {
        font-size: 56px;
        font-weight: bold;
        font-family: $font-ANB;
        @media (max-width: 768px){
          font-size: 40px;
          line-height: 1.13;
        }
      }
      .sub-title {
        font-size: 30px;
        font-family: $font-ANR;
        margin: 0 21px;
        @media (max-width: 768px){
          margin: 0 15px;
          font-size: 20px;
          line-height: 1.25;
        }
      }
      button{
        margin-top: 80px;
      }
    }
    .characters {
      margin-top: -2rem;
      position: absolute;
    }
  }
  &__container-handheld, &__container-intel {
    .content{
      padding: 100px 0;
      .title {
        font-size: 40px;
        font-weight: 600;
        font-family: $font-ANB;
        @media (max-width: 768px){
          font-size: 30px;
          line-height: 1.17;
        }
      }
      .item{
        margin-top: 50px;
        margin-left: 247px;
        margin-right: 247px;
        font-family: $font-ANR;
        font-size: 18px;
        font-weight: 500;
        @media (max-width: 768px){
          margin-left: 20px;
          margin-right: 20px;
          font-size: 16px;
        }
        .item-name{
          color: $color-default;
        }
        .item-desc{
          color: $color-muted;
        }
        .icon{
          height: 48px;
        }
      }
    }
    &__marketing {
      background: #f9f9f9;
      padding-bottom: 70px;
      @media (max-width: 768px) {
        margin: 0!important;
        padding-top: 70px;
        padding-bottom: 70px;
      }
      .title {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
        @media (max-width: 768px) {
          font-size: 20px;
          line-height: 1.5;
          text-align: center;
          margin-top: 30px;
        }
      }
      .illust {
        width: 100%;
      }
      .description {
        font-size: 18px;
        line-height: 1.67;
        color: $color-muted;
        @media (max-width: 768px) {
          font-size: 16px;
          line-height: 1.88;
        }
      }
      .leaked{
        margin-top: 72px;
        .title{
          font-size: 30px;
          font-weight: lighter;
        }
        @media (max-width: 768px) {
          margin-top: 50px;
          .title{
            font-size: 20px;
            line-height: 1.25;
          }
        }
      }
      .logo{
        text-align: center;
        img{
          margin: 0 40px;
          &.facebook-logo{
            width: 140px;
          }
          &.wechat-3{
            width: 135px;
          }
          &.soundCloud_logo{
            width: 78px;
          }
          &.hootsuite_logo{
            width: 142px;
          }
          &.unbounce-logo{
            width: 141px;
          }
          &:first-child{
            margin-left: 0;
          }
          &:last-child{
            margin-right: 0;
          }
        }
        @media (max-width: 768px) {
          text-align: left;
          img{
            margin: 5px 10px;
            &.facebook-logo{
              width: 121px;
            }
            &.wechat-3{
              width: 106px;
            }
            &.soundCloud_logo{
              width: 65px;
            }
            &.hootsuite_logo{
              width: 142px;
            }
            &.unbounce-logo{
              width: 141px;
            }
          }
        }
      }
    }
  }
  &__container-report {
    padding: 100px 0;
    .title {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 20px;
      @media (max-width: 768px) {
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        margin-top: 30px;
      }
    }
    .banner{
      margin-top: 50px;
      margin-left: 247px;
      margin-right: 247px;
      border: none;
      .banner-item{
        border: 1px solid #dfdfdf;
        .figure{
          margin: 0;
          position: relative;
          height: 313px;
          width: 100%;
          background: #f8f8f8;
          img{
            padding: 20px;
            min-width: 100%;
            min-height: 235px;
            &.opacity{
              opacity: 0.3;
            }
          }
        }
        .content{
          padding: 1rem;
          h3{
            font-family: $font-ANB;
            font-size: 20px;
            line-height: 1.25;
          }
          .date{
            font-size: 12px;
            font-weight: 600;
            color: #bdbaba;
          }
          .desc{
            font-size: 16px;
            font-weight: 500;
            line-height: 1.44;
          }
        }
      }
      @media (max-width: 768px) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 1rem;
        .banner-item{
          margin-top: 1rem;
          .figure{
            height: 365px;
            img{
              min-height: 200px;
            }
          }
        }
      }
    }
  }
  &__container-join-us {
    padding: 10rem 0rem;
    color: $color-white;
    background-color: $color-more;
    .waiting {
      font-size: 30px;
      line-height: 1;
      padding-bottom: 3rem;
      @media (max-width: 768px) {
        font-size: 20px;
        line-height: 1.5;
      }
    }
    .victory {
      font-size: 40px;
      font-weight: 600;
      font-family: $font-AND;
      @media (max-width: 768px) {
        font-size: 30px;
        line-height: 1.17;
        margin: 0 15px;
      }
    }
  }
  button {
    margin: 3rem 0rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: $background-button;
    letter-spacing: 2.1px;
    font-size: 16px;
    font-weight: bold;
    font-family: $font-ANB;
    padding: 1.5rem 5rem;
    border: none;
    color: $color-white;
  }
}
