@import "~bootstrap/scss/bootstrap-grid.scss";

.intel {
  &__container-header {
    padding: 6rem 0;
    background-color: $background-mc;
    .content{
      margin: 0 auto;
      max-width: 1000px;
      .title {
        font-size: 56px;
        font-weight: bold;
        font-family: $font-ANB;
      }
      .sub-title {
        font-size: 30px;
        font-family: $font-ANR;
        margin: 0 21px;
      }
      button{
        margin-top: 80px;
      }
    }
    .characters {
      margin-top: -2rem;
      position: absolute;
    }
  }
  &__container-handheld, &__container-intel {
    .content{
      padding: 100px 0;
      .title {
        font-size: 40px;
        font-weight: 600;
        font-family: $font-ANB;
      }
      .item{
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        font-family: $font-ANR;
        font-size: 18px;
        font-weight: 500;
        .item-name{
          color: $color-default;
          padding-bottom: 1rem;
        }
        .item-desc{
          color: $color-muted;
          padding-right: 5rem;
        }
        .icon{
          height: 48px;
          padding-bottom: 1rem;
        }
      }
    }
    &__marketing {
      background: #f9f9f9;
      padding-bottom: 70px;
      .title {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
      }
      .illust {
        width: 97%;
        height: 430px;
      }
      .description {
        font-size: 18px;
        line-height: 1.67;
        color: $color-muted;
        padding-right: 8rem;
      }
      .leaked{
        margin-top: 72px;
        .title{
          font-size: 30px;
          font-weight: lighter;
        }
      }
      .logo{
        text-align: center;
        img{
          padding-left: 3rem;
          padding-right: 3rem;
          &.fb {
            height: 29px;
          }
          &.we {
            height: 28px;
          }
          &.soundcloud {
            height: 45px;
          }
          &.hootsuite {
            height: 31px;
          }
          &.unbounce {
            height: 33px;
          }
        }
      }
    }
  }
  &__container-report {
    padding: 80px 0;
    .title {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .banner{
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      border: none;
      .coming-soon {
        opacity: 0.5;
      }
      .banner-item{
        min-height: 490px;
        margin: 20px 0px;
        border: 1px solid #dfdfdf;
        transition: all 0.2s ease-in-out;
        .figure{
          margin: 0;
          position: relative;
          width: 100%;
          background: #f8f8f8;
          img{
            padding: 40px 55px;
            min-width: 100%;
            &.opacity{
              opacity: 0.3;
            }
          }
        }
        .content{
          padding: 1rem;
          position: relative;
          h3{
            font-family: $font-ANB;
            font-size: 20px;
            line-height: 1.25;
          }
          .date{
            font-size: 12px;
            font-weight: 600;
            color: #bdbaba;
          }
          .desc{
            font-size: 16px;
            font-weight: 500;
            line-height: 1.44;
            font-family: $font-ANM;
          }
          .text-coming-soon {
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 2.5px;
            text-align: center;
            color: $color-coming-soon;
            font-family: $font-ANB;
            text-transform: uppercase;
            position: absolute;
            top: 30%;
            width: 100%;
          }
          .lighter {
            opacity: 0.5;
          }
        }
        &:hover {
          transform: translateY(-2%);
          box-shadow: 0 8px 22px rgba(0,0,0,0.15);
        }
      }
    }
  }
  &__container-join-us {
    padding: 10rem 0rem;
    color: $color-white;
    background-color: $color-more;
    .waiting {
      font-size: 30px;
      line-height: 1;
      padding-bottom: 3rem;
    }
    .victory {
      font-size: 40px;
      font-weight: 600;
      font-family: $font-AND;
    }
  }
  button {
    margin: 3rem 0rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: $background-button;
    letter-spacing: 2.1px;
    font-size: 16px;
    font-weight: bold;
    font-family: $font-ANB;
    padding: 1.5rem 6rem;
    border: none;
    color: $color-white;
  }
  .rectangle-grey-00 {
    height: 10px;
    width: 100%;
    background-color: $color-rectangle-grey;
    margin-bottom: 1rem;
  }
  .rectangle-grey-01 {
    height: 10px;
    width: 95%;
    background-color: $color-rectangle-grey;
    margin-bottom: 1rem;
  }
  .rectangle-grey-02 {
    height: 10px;
    width: 90%;
    background-color: $color-rectangle-grey;
    margin-bottom: 1rem;
  }
  .rectangle-grey-03 {
    height: 10px;
    width: 80%;
    background-color: $color-rectangle-grey;
    margin-bottom: 1rem;
  }
  .rectangle-grey-04 {
    height: 10px;
    width: 70%;
    background-color: $color-rectangle-grey;
    margin-bottom: 1rem;
  }
  @include media-breakpoint-down(md) {
    &__container-header {
      .content {
        .title {
          font-size: 40px;
          line-height: 1.13;
        }
        .sub-title {
          margin: 0 15px;
          font-size: 20px;
          line-height: 1.25;
        }
      }
    }
    &__container-handheld, &__container-intel {
      .content {
        padding: 7rem 0px;
        .col-9 {
          padding-left: 0px;
        }
        .title {
          font-size: 30px;
          line-height: 1.17;
        }
        .item {
          font-size: 16px;
          .item-desc {
            padding-right: 0rem;
          }
          .item-name {
            padding-bottom: 0rem;
          }
        }
      }
      &__marketing {
        margin: 0!important;
        padding-top: 70px;
        padding-bottom: 50px;
        .title {
          font-size: 20px;
          line-height: 1.5;
          text-align: center;
          margin-top: 30px;
        }
        .illust {
          width: 100%;
          height: auto;
        }
        .description {
          font-size: 16px;
          line-height: 1.88;
          padding-right: 0rem;
        }
        .leaked{
          margin-top: 50px;
          .title{
            font-size: 20px;
            line-height: 1.25;
          }
        }
        .logo {
          text-align: left;
          padding-right: 2rem;
          padding-left: 2rem;
          img{
            padding-left: 1rem;
            padding-right: 1rem;
            margin-bottom: 2rem;
            &.fb {
              height: 25px;
            }
            &.we {
              height: 25px;
            }
            &.soundcloud {
              height: 38px;
            }
            &.hootsuite {
              height: 31px;
            }
            &.unbounce {
              height: 33px;
            }
          }
        }
      }
      &__container-report {
        .title {
          font-size: 20px;
          line-height: 1.5;
          text-align: center;
          margin-top: 30px;
        }
        .banner {
          margin-left: 0;
          margin-right: 0;
          margin-top: 1rem;
          .banner-item{
            margin-top: 1rem;
            .figure{
              height: 365px;
              img{
                min-height: 200px;
              }
            }
          }
        }
      }
    }
    &__container-join-us {
      padding: 7rem 0rem;
      .waiting {
        font-size: 20px;
        line-height: 1.5;
      }
      .victory {
        font-size: 30px;
        line-height: 1.17;
        margin: 0 15px;
      }
    }
  }
}
