@import '~bootstrap/scss/bootstrap-grid.scss';

.footer {
  text-transform: capitalize;
  background-color: $background-black;
  &__content {
    padding: 80px 0rem;
    .left, .right{
      margin-bottom: 25px;
    }
    .header-column {
      color: $color-white;
      padding-bottom: 16px;
    }
    p {
      padding-bottom: 0.5rem;
      color: $color-footer-list;
    }
    &__ship-by {
      margin-top: 60px;
      color: $color-footer-list;
      span {
        color: $color-white;
        text-transform: capitalize;
      }
    }
    &__social-network {
      padding-top: 2rem;
      img {
        margin-right: 2rem;
      }
    }
    &__copy-right {
      color: $color-footer-list;
      text-align: center;
      padding-top: 3rem;
      border-top: 1px solid $color-border-copy-right;
      width: 50%;
    }
  }

  @include media-breakpoint-down(md) {
    &__content {
      padding: 50px 0rem;
      .right{
        margin-top: 50px;
      }
      &__ship-by {
        margin-top: 30px;
      }
      &__copy-right {
        font-size: 12px;
        border: none;
        width: 100%;
      }
    }
  }
}
