@import "~bootstrap/scss/bootstrap-grid.scss";

.search {
  margin: 6rem;
  &__input {
    padding: 1rem 1rem 1rem 2rem;
    letter-spacing: 0.5px;
    border-radius: 5px 0px 0px 5px;
    color: $color-search-input;
    border: 2px solid $color-border-search;
    border-right: none;
    font-family: $font-ANM;
    font-size: 18px;
    font-weight: 500;
  }
  &__btn {
    font-size: 16px;
    text-transform: uppercase;;
    border-radius: 0px 5px 5px 0px;
    padding: 0rem 4rem;
    border: none;
    letter-spacing: 2.1px;
    color: $color-white;
    font-family: $font-ANB;
    background-color: $background-black;
  }
  @include media-breakpoint-down(md) {    
    margin: 6rem 0rem;
    &__btn {
      padding: 0rem 1rem;
    }
  }
}
