.result {
  &__header {
    width: 315px;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-bottom: 1.5rem;
    button {
      border: none;
      font-size: 11px;
      border-radius: 3px;
      color: $color-white;
      font-family: $font-AND;
      padding: 0.5rem 0 0.2rem 0;
      letter-spacing: 1.1px;
      text-transform: uppercase;
      background-color: $background-refresh;
      img {
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
    span {
      font-size: 20px;
      padding-top: 1rem;
      padding-left: 1rem;
      font-family: $font-AND;
      text-transform: capitalize;
    }
    img {
      padding: 0rem;
    }
  }
  &__content {
    width: 315px;
    height: 546px;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0;
    margin: 0;
    box-shadow: $lookout-shadow-result;
    background-color: $background-white;
    &-border {
      border: solid 1px $color-border-search;
    }
  }
}
