@import "~bootstrap/scss/bootstrap-grid.scss";

.mc {
  &__container-header {
    background: url($assets-path + '/mc/header-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 120px;
    background-size: cover;
    background-color: $background-mc;
    .title {
      font-size: 56px;
      font-weight: bold;
      text-align: center;
      font-family: $font-ANB;
    }
    .sub-title {
      font-size: 30px;
      span {
        font-weight: 600;
        padding: 0 0.7rem;
        font-family: $font-AND;
      }
    }

    .characters {
      margin-bottom: -6rem;
      height: 530px;
    }
  }
  &__container-intel, &__container-lookout {
    &__title {
      text-align: center;
      font-size: 40px;
      font-weight: 600;
      padding: 10rem 0rem 8rem;
      font-family: $font-ANB;
    }
    &__content {
      .title {
        font-size: 30px;
        font-weight: 600;
        padding-bottom: 20px;
        font-family: $font-AND;
      }
      .illust {
        width: 100%;
      }
      .description {
        font-size: 18px;
        line-height: 1.67;
      }
      .more {
        font-size: 16px;
        font-weight: bold;
        color: $color-more;
        letter-spacing: 2px;
        padding-top: 20px;
        font-family: $font-ANB;
        text-transform: uppercase;
        a {
          color: inherit;
        }
        img {
          padding-bottom: 0.3rem;
        }
      }
    }
  }
  &__container-intel {
    padding-bottom: 7.5rem;
    .right-side{
      padding: 0;
    }
    .left-side {
      margin-left: 6rem;
      max-width: 420px;
    }
  }
  &__container-lookout {
    padding-top: 7.5rem;
    padding-bottom: 15rem;
    border-top: 1px solid $color-border-search;
    .left-side-lookout {
      .description{
        max-width: 440px;
      }
    }
    .right-side-lookout{
      padding: 0;
    }
  }
  &__container-join-us {
    padding: 10rem 0rem;
    color: $color-white;
    background-color: $color-more;
    .waiting {
      font-size: 30px;
      line-height: 1;
      padding-bottom: 3rem;
    }
    .victory {
      font-size: 40px;
      font-weight: 600;
      font-family: $font-AND;
    }
  }
  button {
    margin: 3rem 0rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: $background-button;
    letter-spacing: 2.1px;
    font-size: 16px;
    font-weight: bold;
    font-family: $font-ANB;
    padding: 1.5rem 5rem;
    border: none;
    color: $color-white;
  }

  @include media-breakpoint-down(md) {
      &__container-header {
        padding-top: 100px;
        .title {
          font-size: 40px;
          line-height: 1.13;
          padding: 0;
        }
        .sub-title {
          font-size: 20px;
          line-height: 1.25;
          padding-left: 0rem;
          padding-right: 0rem;
          margin-top: 20px;
          .hidden-md-up {
            padding-right: 0rem;
          }
        }
        .characters {
          height: 270px;
          margin-bottom: -4rem;
        }
    }
    &__container-intel, &__container-lookout {
      &__title {
        font-size: 30px;
        line-height: 1.17;
        margin-top: 3rem;
      }
      .right-side{
        padding: 0 15px;
      }
      .left-side, .left-side-lookout {
        margin: 0;
        .title{
          font-size: 20px;
          line-height: 1.5;
          margin-top: 30px;
          padding-bottom: 17px;
        }
      }
      .right-side-lookout{
        padding: 0 15px;
      }
      .description{
        font-size: 16px;
        line-height: 1.88;
        margin: 17px 0;
      }
    }
    button {
      padding: 1.5rem 9rem;
    }
  }
  &__container-join-us {
    padding: 7rem 0rem;
    .waiting {
      font-size: 20px;
      line-height: 1.5;
    }
    .victory {
      font-size: 30px;
      line-height: 1.17;
      margin: 0 15px;
      text-align: center;
    }
  }
}
