@font-face {
  font-family: 'AvenirNextRegular';
  src: url("./assets/fonts/avenir/AvenirNextLTPro-Regular.otf"); }
@font-face {
  font-family: 'AvenirNextMediumCn';
  src: url("./assets/fonts/avenir/AvenirNextLTPro-MediumCn.otf"); }
@font-face {
  font-family: 'AvenirNextDemiCn';
  src: url("./assets/fonts/avenir/AvenirNextLTPro-DemiCn.otf"); }
@font-face {
  font-family: 'AvenirNextHeavyCn';
  src: url("./assets/fonts/avenir/AvenirNextLTPro-HeavyCn.otf"); }
@font-face {
  font-family: 'AvenirNextBold';
  src: url("./assets/fonts/avenir/AvenirNextLTPro-Bold.otf"); }
@font-face {
  font-family: 'AvenirNextBoldCn';
  src: url("./assets/fonts/avenir/AvenirNextLTPro-BoldCn.otf"); }
@font-face {
  font-family: 'AvenirNextCn';
  src: url("./assets/fonts/avenir/AvenirNextLTPro-Cn.otf"); }

body {
  font-size: 14px;
  span, a, div, input {
    font-family: 'AvenirNextRegular';
  }
}
